*{
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

html{
 scroll-behavior: smooth;
}

body{
 font-family: 'roboto';
 position: relative;
 background-color: #353333;
 overflow-x: hidden;

}

svg{
 fill: green;
}

/* Header section */

.header{
 height: 667px;
 /* width: 100vw; */
position: relative;
color: #fff;
font-weight: 700;
/* overflow: hidden; */
}

.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* position: fixed;
  width: 100%;
  z-index:999; */
}


.navbar{
  z-index: 1;
 /* position: fixed;
 width: 100%;
 /* align-items: center;
 transition: 500ms all ease; */
 
}

.nav-list li{
  display: inline-block;
  margin: 0 20px;
}

.logo{
 z-index: 2 ;
  font-size: 18px;
}


.nav-list li{
 list-style: none;
 z-index: 2;
}


.nav-list li a{
text-decoration: none;
color: #fff;
font-weight: 700;
font-family: 'Roboto';
}

.header::after{
 content: '';
 position: absolute;
 background: url(./img//finn.png);
 z-index: 1;
 width: 300px;
 height: 420px;
 bottom: 0;
 right: -40px;
 background-size: 100% 100%;
}

.helper{
width: 100vw;
height: 131px;
background-color: #1E1D1D;
position: absolute;
top: 124px;
}

.helper1{
 content: '';
 position: absolute;
 background-color: #1e1d1d70 ;
 /* z-index: 0; */
 width: 121px;
 height: 120vh;
 top: -30px;
 left: 57px;
 background-size: 100% 100%;
}


.header_intro{
 position: absolute;
 z-index: 2;
 top: 153px;
 left: 57px;
}

.header_text{
  color: #40FFD1;
  font-size: 36px;
  transition-delay: 1s;
  opacity: 0;
  animation: 1s randoms 500ms ease forwards;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes autowrite{
  from{
    width: 0;
  }to{
    width: 500px;
  }
}

@keyframes randoms{
  0%{
    transform: translateX(200px);
  }100%{
    transform: translateX(0px);
    opacity: 1;
  }
}



.header_sub_text{
  color: white;
  font-style: italic;
  font-weight: 300;
  animation: 2.5s autowrite linear 1s 1 normal both;
  overflow: hidden;
  white-space: nowrap;
}

/* Header Section Finished */

/* About Me Section Start */


.about_section{
 position: relative;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: start;
height: 667px;
}
.about_section *{
 z-index: 2;
}


.about_section::after{
 content: ' ';
 position: absolute;
 width: 50%;
 height: 667px;
 top: 0;
 left: 0;
 background-color: #1E1D1D;

}

.about{
 color: #40FFD1;
 font-size: 48px;
}

.me{
 color: #fff;
}  

.about-img{
 margin: 20px 0;
 background: url(./img/finn.png);
 background-color: #353333;
 background-size: 100% 100%;
 width: 160px;
 height: 160px;
 border-radius: 50%;
}

.social_link{
 width: 200px;
 height: 50px;
 position: relative;
left: 15px;

}

.github, .facebook,.instagram{
 width: 30px;
 height: 30px;
 margin-left: 16px;
}

.about_title{
 font-size: 42px;
 color: white;
 margin-bottom: 2rem;
}
.about_sub{
 color: white;
 line-height: 1.7rem;
 text-align: center;
 font-weight: 100;
 font-style: italic;
}

.about_sub strong{
 color: #40FFD1;
}


/* About Me Section End */

.containers{
 height: 667px;
}

.btn-container{
 display: flex;
 height: 100px;
 background-color: white;

}
.btn-container button{
 font-size: 20px;
 font-weight: 500;
 flex: 1;
 outline: none;
 color: white;
 background-color: #353333;
 cursor: pointer;
}

.btn-container button:active{
 cursor: grab;
}

.project{
 border-radius: 5px;
}


/* Testimoni */
.testimoni{
 display: flex;
 align-items: center;
 flex-direction: column;
 color: white;
 position: relative;
}

.testi-title{
 font-size: 48px;
 font-weight: bolder;
 color: #40FFD1;
 margin: 20px 0;
}


.testi-img{
 background: url(./img/mom.jpg) no-repeat;
 background-size: 100% 100%;
 border-radius: 50%;
 height: 160px;
 width: 160px;
}

.left,.right{
 color: red;
 position: absolute;
 top: 150px;
 cursor: pointer;
}

.left{
 left: 60px;
}

.right{
 right: 60px;
}

.testi-name{
 font-style: italic;
 margin: 25px 0;
}

.testi-message{
 
 font-size: 20px;
 font-weight: 700;
}

/* Projects */
.project{
  display: none;
}


.lists-project{
 display: grid;
 /* align-items: center; */
 justify-content: space-around;
 width: 100vw;
 grid-template-columns: repeat(3, 110px);
 gap: 18px;
}


.lists-project .card{
 height: 140px;
 background-color: red;
}

.project-title{
 text-align: center;
 font-size: 48px;
 color: #40FFD1;
 margin: 2rem 0;
}

.skills{
 position: relative;
}

.skill-text{
 position: absolute;
top: calc(50% + 50px);
}

.list-skill{
 height: 130px;
 width: 60%;
 position: absolute;
 background-color: red;
 right: 20px;
 top: 13px;
}


/* JS Req */

.sect {
  display: none;
}

.btn.active {
  color: #40FFD1;
}

.sect.active {
  display: block;
}
/* testimoni sect can't be displayed block, can ruin the layout */
.act-flex{
  display: flex;
}

.anim{
  transition: 400ms all ease;
}

/* animation */

.btn:hover{
  transform: scale(1.02);
  transition: 400ms all ease;
}

.btn:active{
  transform: scale(1);
}



.hamburger{
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.burger,.burger::before,.burger::after{
  width: 30px;
  height: 6px;
  background-color: #40FFD1;
  transition: 500ms all ease;
}
.burger::before,.burger:after{
  content: '';
  position: absolute;
}

.burger::after{
  transform: translateY(-10px);
}

.burger::before{
  transform: translateY(10px);
}

.show .burger {
  background: transparent; 
  box-shadow: none;
}

.show .burger::before {
 transform: rotate(-45deg);

}
.show .burger::after {
transform: rotate(45deg)
}

.show.navbar{

display: flex;}



/* Media queries */

@media screen and (max-width:600px){
  .hamburger{
    display: flex;
  }.nav-container{
    justify-content: space-between;
    background-color: #1E1D1D;
    height: 10vh;
  }.navbar{
    display: none;
  }
  .nav-list li a{
    color: #40FFD1;
  }
}